/**
 * @name Simple and Clean
 * @description Removes clutter and unneeded features for a more concise user experience.
 * @author Akross
 * @authorId 282593436803268618
 * @version 1.0
 * @source https://github.com/akrossu/SimpleAndClean
 * @website https://akrossu.github.io/
*/

/* ----------------------------------------------- */
/*            Simple and Clean Theme :3            */
/* ----------------------------------------------- */
@import url(https://akross.dev/SimpleAndClean/src/base.css);

/* ----------------------------------------------- */
/*            Settings Modal by DevilBro           */
/* ----------------------------------------------- */
/* @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css); */

:root {
    --app-primary-color: rgb(16, 16, 16);   /* Default: rgb(30, 31, 34) */
    --app-secondary-color: rgb(23, 23, 23); /* Default: rgb(30, 31, 34) */
    --app-tri-color: rgb(29, 29, 29);       /* Default: rgb(49, 51, 56) */
    --app-accent-color: rgb(107, 134, 115); /* Recommend keeping the same contrast/brightness, just change the color for ease of readability */

    --app-border-radius: 0.5rem; /* Generally works between 0 - 2rem or 0px - ~32px */
    --app-border-margin: 0.5rem; /* Generally works between 0.3 - 0.7rem or ~5px - ~11px of spacing */

    /* Additional Colors */
    --new-message-color: var(--app-accent-color); /* Default: rgb(242, 63, 66) */
    --new-message-banner: var(--bg-overlay-4); /* This enables color sync when using a discord nitro theme. You can set this to a static color. */

    /* Custom Discord Icon */
    /* --discord-icon: url("https://i.imgur.com/Ji3J7d5.png"); */

    /* Options for settings modal */
    --settingswidth: 960;  /* default:	960px (width of the settings modal, px)*/
	--settingsheight: 80; /* default:	80vh  (height of the settings modal, vh)*/
	--settingsbackground: transparent; /* default: transparent (lowest BG Color of changed Windows, change it in case another Theme turns them transparent) */
}
