:where(
    .tutorialContainer__650eb .wrapper_cc5dd2,
    .listItemWrapper__91816 .wrapper_cc5dd2,
    .blobContainer_e5445c,
    [aria-label="Inbox"] 
) foreignObject {
    border-radius: 100%;
}

/* Folder Icons */
.folderPreviewWrapper__48112 .folderPreview__48112 div {
    border-radius: 100% !important;
}

:where(
    .selected__91816,
    .selected_e5445c,
    .wrapper_cc5dd2:hover,
    .blobContainer_e5445c:hover,
    [aria-label="Inbox"]:hover
) foreignObject {
    border-radius: var(--radius-md) !important;
    transition: 0.1s ease-out;
}