:where(
    ._918165dab2b1e10b-listItemWrapper,
    .e5445cbd3ad226f2-blobContainer,
    [aria-label="Inbox"] 
) foreignObject {
    border-radius: 100%;
}

/* Folder Icons */
._48112cbe77dc5022-folderPreviewWrapper ._48112cbe77dc5022-folderPreview {
    border-radius: 100% !important;
}

:where(
    ._918165dab2b1e10b-selected,
    .e5445cbd3ad226f2-selected,
    ._918165dab2b1e10b-listItemWrapper:hover,
    .e5445cbd3ad226f2-blobContainer:hover,
    [aria-label="Inbox"]:hover
) foreignObject {
    border-radius: var(--radius-md) !important;
    transition: 0.1s ease-out;
}