[aria-label="Friends"] > section { /* page header */
    border-top: var(--radius-sm);
    background: var(--panel-rgb) !important;
    border-bottom: 1px solid var(--app-frame-border) !important;
}

.nowPlayingColumn__133bf { /* "Active Now" container */
    margin-left: var(--space-xs);
    border-left: 1px solid var(--app-frame-border) !important;
    top: -50px;
    background: var(--panel-rgb) !important; /* translucent layer */
}

.itemCard__7e549, .headerFull__00943, .body__00943 { /* makes activity cards darker */
    background: var(--panel-rgb) !important; /* translucent layer */
}

.nowPlayingColumn__133bf .scroller__7d20c {
    border: none !important;
}

.actionButton_f8fa06 {
    background: var(--panel-rgb) !important;
    border: 1px solid var(--border-subtle) !important;
}