._5e434347c823b592-page {
    border-radius: var(--radius-sm);
    border: 1px solid var(--app-border-frame) !important;
}

.f8fa068db52f043f-actionButton,
._5ec2fb8b5de26b21-searchBar,
._7e549558f336cddb-itemCard {
    background: none !important;
}

.visual-refresh ._133bf5eea8e33a34-container,
._7d20cf18f8a2784c-container, /* Friends list */
._133bf5eea8e33a34-container > *, /* Friends list */
._133bf5eea8e33a34-nowPlayingColumn { /* Friends list */
    background: transparent !important;
}

.visual-refresh ._5e434347c823b592-sidebarListRounded {
    backdrop-filter: none;
}

.visual-refresh ._133bf5eea8e33a34-peopleColumn,
.visual-refresh ._133bf5eea8e33a34-nowPlayingColumn,
[role="navigation"] {
    background: var(--panel-rgb) !important;
    backdrop-filter: blur(80px) saturate(150%) !important;
    box-shadow: none !important;
}

/* activity feed */
[aria-label="Friends"] > [role="navigation"] {
    border: 1px solid var(--app-border-frame) !important;
    border-radius: var(--radius-sm);
    margin-bottom: var(--space-xs);
}

._5e434347c823b592-page,
._7d20cf18f8a2784c-scroller,
[aria-label="Friends"] {
    border: none !important;
}


._133bf5eea8e33a34-peopleColumn {
    border: 1px var(--app-border-frame) solid !important;
    border-radius: var(--radius-sm);
}

._133bf5eea8e33a34-nowPlayingColumn {
    margin-left: var(--space-xs);
    border: 1px var(--app-border-frame) solid !important;
    border-radius: var(--radius-sm);
    top: -50px;
}

/* Message Requests */