/* ---------------------------------- SETTINGS -------------------------------------*/

/* version updater */

.vc-addon-card:has(a[href='https://github.com/akrossu/SimpleAndClean']) .vc-addon-title-container::after {
    content: "Version 2.0 Released!" !important;
    display: block !important;
    position: absolute !important;
    right: 1rem;
}

/* card background */

.vc-addon-card:has(a[href='https://github.com/akrossu/SimpleAndClean']) {
    position: relative;
}

.vc-addon-card:has(a[href='https://github.com/akrossu/SimpleAndClean'])::before {
    content: "" !important;
    position: absolute !important;
    display: block !important;
    inset: 0;
    z-index: 0;
    opacity: 0.1;
    pointer-events: none;
    background: var(--app-bg-url) center/cover;
}

 /* Vencord theme layout */
 
.vc-settings-theme-grid {
    display: flex;
    flex-direction: column;
}

.layer__960e4 {
    background: none !important;
}
.standardSidebarView__23e6b {
    margin-left: var(--space-xs);
}

.sidebarRegionScroller__23e6b,
.sidebarRegion__23e6b,
.contentRegion__23e6b,
.contentRegionScroller__23e6b,
.standardSidebarView__23e6b {
    background: none !important;
}

.sidebarRegion__23e6b {
    border-right: 1px solid var(--app-border-frame);
} 

.standardSidebarView__23e6b {
    border: 1px solid var(--app-border-frame) !important;
    border-radius: var(--radius-sm);
    background: var(--panel-rgb) !important;
    backdrop-filter: blur(80px) saturate(150%) !important;
    box-shadow: none !important;
}



