.sidebar__5e434 { /* sidebar content */
    margin-right: var(--margin-size);
}

/* ========================= Sidebar List ========================== */
.sidebarList__5e434 { /* Parent div */
    border-radius: var(--border-radius);
    border: none;
}

.sidebarList__5e434 nav { /* container */
    border-radius: var(--border-radius);
    margin-left: 0;
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
    padding: 0;
    border: 1px solid var(--border-muted) !important;
    border-color: var(--app-frame-border) !important;
}

/* ====================== Server Sidebar List ====================== */
.sidebarList__5e434 .bottom__7aaec { /* Mention Notification fix */
    bottom: 0;
    padding: 0;
}

/* .header_f37cb1 {
    border: none !important;
}

.scroller__629e4 {
    border-radius: var(--border-radius);
    margin: 0;
} */

/* ======================= DMs Sidebar List ======================== */
.privateChannels_e6b769 .scroller__99e7c { /* dm list */
    margin: 0;
}

/* ====================== Server Banner Image ====================== */
.bannerImage_f37cb1 img {
    max-width: calc(100% - 3px); /* y do i need to do this discord. */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.hasBanner_f37cb1 .headerEllipseBackdrop_f37cb1,
.hasBanner_f37cb1 .headerGlass_f37cb1 {
    left: 0;
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.headerEllipseForeground_f37cb1 {
    display: none;
}

[aria-label="Servers sidebar"] {
    margin: 0 !important;
}
[aria-label="Servers sidebar"]::after {
    content: "";
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* User status and settings */
[aria-label="User status and settings"] {
    left: calc(var(--custom-guild-list-width)) !important;
    width: calc(100% - var(--custom-guild-list-width)) !important;
    bottom: 0;
    border-radius: var(--border-radius) !important;
    background: none !important;
    border: 1px solid var(--border-muted);
}

.container__37e49 {
    border-bottom-left-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
    width: 100%;
}

/* quests */
.wrapper__0d616 {
    margin-bottom: var(--margin-size);
}

.content__0d616 {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-muted);
}

.wrapper__0d616 {
    background: none !important;
    border-radius: 0;
    border: none;    
}

.borders_c4293b {
    border: none;
}

.actionButtons_e131a9 button {
    background-color: var(--control-secondary-background-default);
}

.buttonColor_e131a9:hover {
    background: var(--control-secondary-background-hover) !important;
}

[aria-label="Servers sidebar"],
[data-list-id="guildsnav"] > div {
    background: transparent !important;
}