/* SERVERS */

[aria-label="Servers sidebar"] {
    margin: 0 !important;
}
[aria-label="Servers sidebar"]::after {
    content: "";
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.theme-dark [aria-label="Servers sidebar"]::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, var(--background-base-lowest) 100%);
}

.itemsContainer_ef3116 {
    background: none !important;
}

/* Sidebar / User area */
.visual-refresh .sidebarListRounded_c48ade {
    border-top-left-radius: 0 !important;
}

.sidebarList_c48ade nav {
    padding: 0 !important;
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
    border: 1px solid var(--app-border-frame) !important;
    border-radius: var(--radius-sm);
}

.container__2637a {
    margin-left: 0 !important;
}

.container__2637a .scroller__629e4,
.scroller__99e7c {
    margin: 0 !important;
}
[aria-label="User area"] {
    left: calc(var(--custom-guild-list-width)) !important;
    width: calc(100% - var(--space-xs) - var(--custom-guild-list-width)) !important;
    border: 1px solid var(--app-border-frame) !important;
    background: var(--bg-overlay-4, var(--background-base-lowest)) !important;
    bottom: 0 !important;
}

.sidebar_c48ade {
    border-radius: 0 !important;
}

.sidebarList_c48ade {
    margin-right: var(--space-xs);
    border-radius: var(--radius-sm);
    overflow: hidden;
    border: none !important;
}

.sidebarListRounded_c48ade {
    border-top-left-radius: 0 !important;
}

.visual-refresh .panel__5dec7,  /* share screen */
.panels_c48ade { /* User Panel Parent Wrapper */
    background: none !important;
}

[aria-label="Noise Suppression powered by Krisp"] {
    display: none !important;
}