/* sidebar content */
._5e434347c823b592-sidebar {
    margin-right: var(--margin-size);
}

._5e434347c823b592-sidebarList { /* Parent div */
    border-radius: var(--border-radius);
    border: none;
}

._5e434347c823b592-sidebarList nav { /* container */
    border-radius: var(--border-radius);
    margin-left: 0;
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
    padding: 0;
    border: 1px solid var(--border-muted) !important;
    border-color: var(--app-frame-border) !important;
}

.f37cb1984c371ee5-header {
    border: none !important;
}

._629e4c86564a4ee7-scroller {
    border-radius: var(--border-radius);
    margin: 0;
}

._99e7cad8d4c55236-scroller { /* dm list */
    margin: 0;
}

/* banner image */
.f37cb1984c371ee5-bannerImage img {
    max-width: calc(100% - 3px); /* y do i need to do this discord. */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.f37cb1984c371ee5-hasBanner .f37cb1984c371ee5-headerEllipseBackdrop,
.f37cb1984c371ee5-hasBanner .f37cb1984c371ee5-headerGlass {
    left: 0;
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.f37cb1984c371ee5-headerEllipseForeground {
    display: none;
}

[aria-label="Servers sidebar"] {
    margin: 0 !important;
}
[aria-label="Servers sidebar"]::after {
    content: "";
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* user area */
[aria-label="User area"] {
    left: calc(var(--custom-guild-list-width)) !important;
    width: calc(100% - var(--custom-guild-list-width)) !important;
    padding-top: 5px;
    bottom: 0;
    border-radius: var(--border-radius) !important;
}

._37e49614b9f110a9-container {
    border-bottom-left-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
    width: 100%;
}