.c38106a3f0c3ca76-bar div { /* Title Bar */
    display: none !important;
    height: 0px !important;
}

/* app border */
.a3002d7de5be5280-appAsidePanelWrapper {
    padding: 0 !important;
}

._5e434347c823b592-content {
    padding: 0 var(--margin-size) var(--margin-size) 0;
}